#img-fondoInicio {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/assets/img/img-inicio.png");
  background-size: cover;
  background-position: center;
  background-color: #333;
  min-height: 70vh;
}